/* form
{
    text-align: center;    
} */


.container {
    
    background-color: rgb(128, 255, 0);	
}

footer {
    padding: 1.0em;
    margin: 0;
    width: 100%;
    color: white;
    background-color: rgb(255, 102, 255);
    text-align: center;
    font-style: oblique;
    font-variant: small-caps;
}

