

<h1>Circles</h1>
<!--<button class="btn" id="success" type="submit" (click)="createCircle()">New Circle</button>-->
<!--

  <div class="scrollbar scrollbar-primary">
      <div class="force-overflow">
<ul>
  <li *ngFor="let circle of circles" (click)="selectCircle(circle.circleName)">
  <button type="button" class="btn btn-primary" id="circle">
    {{circle.circleName}}
  </button>
</li>
</ul>
      </div>
  </div>
-->


<div class = 'column'>
<div class = 'circle'>
	<ul>
	<li *ngFor = "let circle of circles" (click)="selectCircle(circle.circleName)">
	{{circle.circleName}}
	</li>
	</ul>
</div>
</div>





