.container {
    padding: 100px;
    position: fixed;
    margin: 0;
    width: 100%;
    color: white;
height: 80%;
    background-color: white;	
}

 footer {
    padding: 1.0em;
    margin: 0;
    width: 100%;
    color: white;
    background-color: rgb(255, 102, 255);
    text-align: center;
    font-style: oblique;
    font-variant: small-caps;
}

.form-group{

color : rgb(255,128,0);
}
