<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>angular demo</title>
</head>
<body>
  <!-- <app-registration></app-registration> -->
  <!-- <app-login></app-login> -->
  <!-- <div class="container-fluid">
    <header>
      <h1>Activity Stream Step 1</h1>
    </header>
    <div class="row">
      <div class="col-12 col-sm-3 col-md-4 col-lg-3" style="background-color:lavender">
        <app-user (selectedUser)="onSelect($event)"></app-user>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-6" style="background-color:lightyellow">
        <app-message [messageObj]="currentSelected"></app-message>
      </div>
      <div class="col-12 col-sm-3 col-md-4 col-lg-3" style="background-color:skyblue">
        <app-circle (selectedCircle)="onSelect($event)"></app-circle>
      </div>
    </div>
  </div> -->

  <router-outlet></router-outlet>
  <!-- <app-dashboard></app-dashboard> -->
</body>
</html>