<header>
  <h1>Welcome to Application</h1>
  <div class="userName">
    <h4>Logged in User: {{username}}</h4>
    <div style="text-align: left">
      <span> Status:</span>

      <select (change)="changedvalue(selectedValue)" [(ngModel)]="selectedValue" class="status" name="selectedValue" ng-model="foo">
        <option value="ACTIVE">ACTIVE</option>
        <option value="AWAY">AWAY</option>
        <option value="MEETING">MEETING</option>
      </select>

    </div>
  </div>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <form #form="ngForm" (click)="signout()">
    <label class="logoutLblPos">
      <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
    </label>
  </form>

</header>

<div style="display: flex;">
  <div id="leftSideBar" class="section">
    <div id="circleDiv" style="height: 55%;">

                           
      <app-circle (selectedCircle)="onSelect($event)"></app-circle>
   
    </div>
    <div id="userDiv" style="height: 50%;">

      <app-user (selectedUser)="onSelect($event)"></app-user>
    </div>
  </div>

  <div id="rightSideBar" class="section">
    <div id="messageDiv" style="height:100%;">
      <app-message [messageObj]="currentSelected"></app-message>
    </div>
  </div>

</div>
<footer class="navbar-fixed-bottom" style="text-align: center;">
  <p>&copy; all rights reserved</p>
</footer>